.sys-section {
    display: block;
    width: 100%;
    margin-bottom: $basicMargin;
    &>.title {
        height: 20px;
        margin-bottom: $basicMargin;
        border-bottom: 1px solid $borderColor;
        &::after {
            content: "";
            display: block;
            height: 0;
            clear: both;
        }
        &>strong {
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
        }
        &>.toolbar {
            float: right;
        }
    }
}